body {
    margin:0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin-top: -3%;
    padding-bottom: 15%;
}

h1, h3 {
    text-align: center;
    margin-bottom: 0;
}

table {
    position: relative;
    top: 80px;
    width: fit-content;
    margin: auto;
    border-collapse: collapse;

}

td {
    text-align: left;
}

td.module-name {
    padding: 5%;
    background: white;
    font-weight: bold;
    border-bottom: 1px solid #d0d0d0;
}

td.topic-name:hover {
    background: #e3e3e3;
}


td.topic-name p {
    margin: 0;
    padding: 3% 0% 3% 10%;

}

#account-header {
    position: relative;
    text-align: center;
    top: 20%;
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

#exit {
    position: absolute;
    text-align: right;
    right: 5%;
    top: 1%;
}

#exit a:hover {
    text-decoration: underline;
}

#header {
    height: 95px;
    background: #1C1C1E;
    color: white;
    padding-top: 1%;
}

#exit a {
    color: white;
}

a {
    text-decoration: none;
    color:black;
    display: block;
    height: 100%;
}

#progress {
    display: inline;
    position: absolute;
    top: 25%;
    left: 5%;
}
#progress p.total {
    font-size: medium;
    font-weight: bold;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 3%;
}

#progress p {
    margin: 0%;
    font-size: small;
}

table.navigation {
    width: 30%;

}

#content {
    width: 50%;
    position: absolute;
    margin: auto;
    top: 130px;
    left: 25%;

    overflow: auto;
}

#sidebar {
    position: absolute;
    overflow-x: hidden;
    width: 17%;
    top: 61px; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
}

#sidebar table {
    table-layout: fixed;
    width: 100%;
}

#sidebar p {
    padding: 0px 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 11px;
    margin-bottom: 11px;
}