
body {
    margin:0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

form {
    position: relative;
}

input[type=submit] {
    position: relative;
    left: 45%;
    top: 50px;
    height: 45px;
    width: 130px;
    background: #ffffff;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
}