<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Методические рекомендации</title>
    <link rel="stylesheet" href="{% static 'application/account.css' %}">
</head>
<body>
<div id="header">
<a href="{% url 'application:account' %}"><p id="account-header">{{ user.username }}</p></a>
<p id="exit"><a href="{% url 'logout' %}">Выйти</a></p>
</div>
<table>
   {% for rec in recs %}
    <tr>
        <td>
            <a href="{% url 'application:recomendation_text' rec_id=rec.id %}"><p>{{rec.topic}}</p></a>
        </td>
    </tr>
    {% endfor %}
</table>


</body>
</html>