<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Методические рекомендации</title>
    <link rel="stylesheet" href="{% static 'application/account.css' %}">
</head>
<body>
<div id="header">
<a href="{% url 'application:account' %}"><p id="account-header">{{ user.username }}</p></a>
<p id="exit"><a href="{% url 'logout' %}">Выйти</a></p>
</div>
<h1>Методические рекомендации</h1>
<table>
{% for grade in grades %}
    <tr>
        <td><a href="{% url 'application:method_grade' grade=grade %}"><p>{{grade}} класс</p></a></td>
    </tr>
{% endfor %}
</table>
</body>
</html>